@using FitnessBuddy.Web.ViewModels.Trainings
@model AllTrainingsViewModel

@{
    this.ViewData["Title"] = "My trainings";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 bg-light" style="text-align: left;">
            <ul style="list-style-type: none;">
                <li>
                    <h4>Workouts:</h4>
                </li>
                @foreach (var training in Model.Trainings)
                {
                    <li>
                        <div class="row">
                            <a asp-action="MyTrainings" asp-controller="Trainings" asp-route-trainingName="@training.Name"><h5>@training.Name</h5></a>
                            <a class="offset-1" asp-action="Delete" asp-controller="Trainings" asp-route-id="@training.Id"><strong class="text-danger">✕</strong></a>
                        </div>
                    </li>
                }
            </ul>
            <hr />
            <div class="text-center">
                <a class="btn btn-outline-success text-dark" asp-area="" asp-controller="Exercises" asp-action="All">Add exercise</a>
            </div>
            <hr />
            <div class="text-center">
                <h6>
                    Create new trainig
                </h6>
                <form asp-action="AddTraining" asp-controller="Trainings">
                    <div class="form-group">
                        <input asp-for="TrainingName" value="@string.Empty" class="form-control" placeholder="Training name..." />
                        <span asp-validation-for="TrainingName" class="text-danger"></span>
                    </div>
                    <div class="form-grup" style="margin-top: 2%;">
                        <input type="submit" class="btn btn-outline-warning" value="Add" />
                    </div>
                </form>
            </div>
            <hr />
        </div>

        <div class="col-md-9">
            <h4 class="text-center">
                @Model.TrainingName
            </h4>

            @if (Model.TrainingExercises.Any() == false)
            {
                <h2 class="text-center">
                    No exercises!
                </h2>
            }

            <div class="row">
                @foreach (var exercise in Model.TrainingExercises)
                {
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top img-thumbnail rounded" style="height: 180px;" src="@exercise.ExerciseImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@exercise.ExerciseName</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Sets:</strong> @exercise.Sets</li>
                                <li class="list-group-item"><strong>Repetitions:</strong> @exercise.Repetitions</li>
                                <li class="list-group-item"><strong>Weight:</strong> @exercise.Weight</li>
                                <li class="list-group-item text-center">
                                    <a asp-action="AddToTraining" asp-controller="Exercises" asp-route-exerciseId="@exercise.ExerciseId">
                                        <strong class="text-info">Details</strong>
                                    </a>
                                    <a asp-action="RemoveExercise" asp-controller="Trainings" asp-route-trainingExerciseId="@exercise.TrainingExerciseId" asp-route-name="@Model.TrainingName">
                                        <strong class="text-danger">Remove</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




