@using FitnessBuddy.Web.ViewModels.Trainings
@model AllTrainingsViewModel

@{
    this.ViewData["Title"] = "My trainings";
}

<h1>
    My trainings
</h1>

<ul>
    @foreach (var training in Model.Trainings)
    {
        <li>
            <a asp-action="MyTrainings" asp-controller="Trainings" asp-route-trainingName="@training">@training</a>
        </li>
    }
</ul>

<ul>
    @foreach (var exercise in Model.TrainingExercises)
    {
        <li>
            <strong>Exercise name:</strong> @exercise.ExerciseName
        </li>
        <li>
            <strong>Sets:</strong> @exercise.Sets
        </li>
        <li>
            <strong>Repetitions:</strong> @exercise.Repetitions
        </li>
        <li>
            <strong>Weight:</strong> @exercise.Weight
        </li>
    }
</ul>


<a class="btn btn-outline-info text-dark" asp-area="" asp-controller="Trainings" asp-action="AddTraining">Add new training</a>