@model AllUsersViewModel


@{
    this.ViewData["Title"] = "Users";
}

<h1 class="text-center">
    @this.ViewData["Title"]
</h1>

<table class="table  table-hover table-striped hover-shadow">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Created on
            </th>
            <th>
                Gender
            </th>
            <th>
                Banned on
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.CreatedOn
                </td>
                <td>
                    @user.Gender
                </td>
                <td>
                    @user.BannedOn
                </td>
                <td>
                    @if (@user.IsBanned)
                    {
                        <a asp-action="Unban" asp-route-username="@user.Username" class="btn btn-sm btn-outline-info">Unban</a>
                    }
                    else
                    {
                        <a asp-action="Ban" asp-route-username="@user.Username" class="btn btn-sm btn-outline-danger">Ban</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />