@model AllPostsViewModel

@{
    this.ViewData["Title"] = "Posts";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table table-hover table-striped hover-shadow">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Views
            </th>
            <th>
                Author name
            </th>
            <th>
                Category name
            </th>
            <th>
                Created on
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Description.Substring(0, item.Description.Length / 5)....
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />