@model CategoryPostsViewModel

@{
    this.ViewData["Title"] = @Model.Name;
}

<h3 class="text-center">
    Category: <span class="text-muted">@this.ViewData["Title"]</span>
</h3>

@if(Model.Posts.Any() == false)
{
    <h5 class="text-center text-info">Currently there are no post in this category.</h5>
}

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="card border-info mb-4 col-md-12 shadow">
            <div class="card-body">
                <a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id">
                    <h4 class="card-title">@post.Title</h4>
                </a>
                <hr>
                <p class="card-text">@(post.Description.Substring(0, post.Description.Length / 4))...</p>
            </div>
            <div class="row text-center">
                <div class="card-header col-md-2"><i class="fa-solid fa-user"></i> @post.AuthorUsername</div>
                <div class="card-header col-md-4"><i class="fa-solid fa-calendar-days"></i> @post.CreatedOn.ToShortDateString()</div>
                <div class="card-header col-md-2"><i class="fa-solid fa-eye"></i> @post.Views</div>
                <div class="card-header col-md-2"><i class="fa-solid fa-comment-dots"></i> @post.RepliesCount</div>
                <div class="card-header col-md-2"><i class="fa-solid fa-folder-open"></i> @post.CategoryName</div>
            </div>
        </div>
    }
    <p class="display-6 text-center">
        <a asp-action="Create" asp-controller="Posts">Create new post</a>
    </p>
</div>