@using FitnessBuddy.Web.Infrastructure.Extensions
@model IEnumerable<FoodViewModel>

@{
    this.ViewData["Title"] = "All foods";
}

<h1 class="text-center">
    All foods
</h1>
<div class="container">
    <div class="row">
        @foreach (var food in @Model)
        {
            <div class="card col-md-3 offset-md-1" style="width: 18rem; height: fit-content; margin-top: 1%;">
                <div class="card-header text-center">
                    <strong>@food.FoodName</strong>
                </div>
                <img src="@food.ImageUrl" alt="..." class="img-thumbnail">
                <strong class="text-center">Nutriotions for 100 grams</strong>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Food calories: </strong>@food.FoodCalories kcal</li>
                    <li class="list-group-item"><strong>Protein: </strong>@food.ProteinIn100Grams gr. </li>
                    <li class="list-group-item"><strong>Carbohydrates: </strong>@food.CarbohydratesIn100Grams gr.</li>
                    <li class="list-group-item"><strong>Fat: </strong>@food.FatIn100Grams gr.</li>
                    <li class="list-group-item"><strong>Sodium: </strong>@food.Sodium mg.</li>
                    <li class="list-group-item"><strong>Description: </strong>@food.Description</li>
                    @if (this.User.Identity.IsAuthenticated && food.AddedByUserId == this.User.GetUserId())
                    {
                        <li class="list-group-item text-center">
                            <a class="btn btn-info" asp-action="Edit" asp-controller="Foods" asp-route-id="@food.Id">
                                Edit
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Foods" asp-route-id="@food.Id">
                                Delete
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
