@using FitnessBuddy.Web.ViewModels.Exercises
@model ExerciseDetailsModel

@{
    this.ViewData["Title"] = "Exercise details";
}

<div class="container-fluid">
    <div class="row shadow">
        <div class="col-md-2 form-training-bg-color text-center text-white font-weight-bold">
            <form asp-controller="Exercises" asp-action="AddToTraining">
                <div class="form-grup">
                    <label asp-for="TrainingExercise.Sets"></label>
                    <input asp-for="TrainingExercise.Sets" class="form-control" placeholder="Sets..." />
                    <span asp-validation-for="TrainingExercise.Sets" class="text-danger"></span>
                </div>
                <div class="form-grup">
                    <label asp-for="TrainingExercise.Repetitions"></label>
                    <input asp-for="TrainingExercise.Repetitions" class="form-control" placeholder="Repetitions..." />
                    <span asp-validation-for="TrainingExercise.Repetitions" class="text-danger"></span>
                </div>
                <div class="form-grup">
                    <label asp-for="TrainingExercise.Weight"></label>
                    <input asp-for="TrainingExercise.Weight" class="form-control" placeholder="Weight..." />
                    <span asp-validation-for="TrainingExercise.Weight" class="text-danger"></span>
                </div>
                <vc:trainings-select></vc:trainings-select>
                <input type="hidden" asp-for="TrainingExercise.ExerciseId" value="@Model.Id" />
                <div class="form-group" style="margin-top: 2%;">
                    <input type="submit" class="btn btn-info" value="Add" />
                </div>
            </form>
        </div>

        <div class="col-md-10 training-details-bg-color">
            <div class="text-center">
                <h2>
                    @Model.Name
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="img" ">
                        <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" />
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="item-description">
                        <strong>Muscle group: </strong>@Model.CategoryName
                    </p>
                    <p class="item-description">
                        <strong>Equipment: </strong>@Model.EquipmentName
                    </p>
                    <p class="item-description">
                        <strong>Difficulty: </strong>@Model.Difficulty
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="item-description">
                        <strong>Instructions: </strong>@Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>