@using FitnessBuddy.Web.ViewModels.Exercises
@model IEnumerable<ExerciseViewModel>

@{
    this.ViewData["Title"] = "All exercise";
}

<div>
    <h1>
        All Exercise
    </h1>
</div>
<div class="container">
    <div class="row row-cols-3">
        @foreach (var exercise in Model)
        {
            <a asp-action="Details" asp-controller="Exercises" asp-route-exerciseId="@exercise.Id">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@exercise.Name</h5>
                    </div>
                    <img src="@exercise.ImageUrl" class="card-img-top img-fluid" alt="Card" style="height: 184px">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Difficulty: @exercise.Difficulty</li>
                        <li class="list-group-item">Category: @exercise.CategoryName</li>
                        <li class="list-group-item">Equipment: @exercise.EquipmentName</li>
                    </ul>
                </div>
            </a>
        }
    </div>
</div>