@using FitnessBuddy.Web.ViewModels.Exercises
@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "All exercise";
}

<div class="text-center">
    <h1>
        All Exercise
    </h1>
</div>

<div class="container">
    <div class="row row-cols-3">
        @foreach (var exercise in Model.Exercises)
        {
            <a asp-action="AddToTraining" asp-controller="Exercises" asp-route-exerciseId="@exercise.Id">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@exercise.Name</h5>
                    </div>
                    <img src="@exercise.ImageUrl" class="card-img-top img-fluid" alt="Card" style="height: 184px">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Difficulty:</strong> @exercise.Difficulty</li>
                        <li class="list-group-item"><strong>Category:</strong> @exercise.CategoryName</li>
                        <li class="list-group-item"><strong>Equipment:</strong> @exercise.EquipmentName</li>
                    </ul>
                </div>
            </a>
        }
    </div>
</div>
<hr />
<partial name="_ExercisesPagingPartial" model="@Model" />