@using FitnessBuddy.Web.ViewModels.Exercises
@model ExerciseDetailsModel

@{
    this.ViewData["Title"] = "Exercise details";
}


<div class="container">
    <div class="col-lg-9 col-xl-9 mt-3">
        <div class="row">
            <div class="col-md-6">
                <p class="img" ">
                    <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" />
                </p>
            </div>
            <div class="col-md-6">
                <p class="item-description">
                    <strong>Muscle group: </strong>@Model.CategoryName
                </p>
                <p class="item-description">
                    <strong>Equipment: </strong>@Model.EquipmentName
                </p>
                <p class="item-description">
                    <strong>Difficulty: </strong>@Model.Difficulty
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <p class="item-description">
                    <strong>Instructions: </strong>@Model.Description
                </p>
            </div>
        </div>
    </div>
</div>