@model ExerciseDetailsModel

@{
    this.ViewData["Title"] = "Exercise details";
}

<vc:delete-modal item-id="@Model.Id" item-name="@Model.Name" controller-name="Exercises"></vc:delete-modal>

<div class="container">
    <div class="row">

        <vc:add-training-exercise exercise-id="Model.Id"></vc:add-training-exercise>

        <div class="col-md-8 training-details-bg-color hover-shadow">

            <div class="text-center">
                <h2>
                    @Model.Name
                </h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="img" ">
                        <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" />
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="item-description">
                        <strong>Muscle group: </strong>@Model.CategoryName
                    </p>
                    <p class="item-description">
                        <strong>Equipment: </strong>@Model.EquipmentName
                    </p>
                    <p class="item-description">
                        <strong>Difficulty: </strong>@Model.Difficulty
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-outline-info" href=@($"/Exercises/Edit/{Model.Id}")>Edit</a>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#@($"deleteModal{Model.Id}")">Delete</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="item-description">
                        <strong>Instructions: </strong>@Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>