@using FitnessBuddy.Web.ViewModels.Foods
@model IEnumerable<FoodViewModel>

@{
    this.ViewData["Title"] = "Foods";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProteinIn100Grams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbohydratesIn100Grams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatIn100Grams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sodium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.AddedByUserUsername)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProteinIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbohydratesIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedByUserUsername)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
