@using FitnessBuddy.Web.ViewModels.Foods
@model AllFoodsViewModel

@{
    this.ViewData["Title"] = "Foods";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-hover table-striped shadow">
    <thead>
        <tr>
            <th>
                Food name
            </th>
            <th>
               Protein per 100 grams
            </th>
            <th>
                Carbohydrates per 100 grams
            </th>
            <th>
                Fat per 100 grams
            </th>
            <th>
                Sodium per 100 grams
            </th>
            <th>
                Image Url
            </th>
            <th>
               AddedBy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Foods) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProteinIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbohydratesIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatIn100Grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedByUserUsername)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />
