@model ProfileViewModel

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center shadow">
                        <img src="@Model.UserInfo.ProfilePicture" onerror="src='/images/profileimages/default-avatar.jpg'" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.UserInfo.UserRole</h5>
                        @if (Model.IsMyProfile)
                        {
                            <div class="row">
                                <a asp-controller="Users" asp-action="Edit" class="btn btn-outline-secondary rounded mb-2 col-md-6 offset-3">Edit</a>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-action="Followers" asp-controller="Users"><i class="fa-solid fa-user-group"></i> Followers: @Model.UserInfo.FollowersCount</a>
                                </div>
                                <div class="col-md-6 text-left mb-2">
                                    <a asp-action="Following" asp-controller="Users"><i class="fa-solid fa-user-group"></i> Following: @Model.UserInfo.FollowingCount</a>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <a asp-controller="Meals" asp-action="MyMeals"><span class="btn btn-outline-dark">My Meals</span></a>
                            </div>
                        }
                        else
                        {
                            if (Model.IsFollowingByUser)
                            {
                                <a asp-action="UnFollow" asp-controller="Users" asp-route-username="@Model.UserInfo.UserName" class="btn btn-sm btn-outline-danger">Unfollow</a>
                            }
                            else
                            {
                                <a asp-action="Follow" asp-controller="Users" asp-route-username="@Model.UserInfo.UserName" class="btn btn-sm btn-outline-info">Start Follow</a>
                            }
                        }
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0 shadow">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item text-center justify-content-between align-items-center p-3">
                                <i class="fa-brands fa-twitter text-info"></i>
                                <h5 class="mb-0">About me</h5>
                            </li>
                            <li class="list-group-item justify-content-between align-items-center p-3">
                                <div class="text-center">
                                    <i class="fa-brands fa-git-alt text-warning"></i>
                                </div>
                                <p class="mb-0">@Model.UserInfo.AboutMe</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body shadow">
                        <h5 class="mb-0 text-center">Personal Info</h5>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.UserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.Gender</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Weight</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.WeightInKg kg.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Goal weight</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.GoalWeightInKg kg.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Height</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserInfo.HeightInCm cm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body shadow">
                        <h5 class="mb-0 text-center">Nutrient Goal</h5>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Current protein</p>
                                <p class="mb-0"><strong>Daily protein goal</strong></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">@Model.CurrentProtein.ToString("F2") gr.</p>
                                <p class="mb-0"><strong>@Model.UserInfo.DailyProteinGoal gr.</strong></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Current carbs</p>
                                <p class="mb-0"><strong>Daily carbs goal</strong></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">@Model.CurrentCarbohydrates.ToString("F2") gr.</p>
                                <p class="mb-0"><strong>@Model.UserInfo.DailyCarbohydratesGoal gr.</strong></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Current fat</p>
                                <p class="mb-0"><strong>Daily fat goal</strong></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">@Model.CurrentFats.ToString("F2") gr.</p>
                                <p class="mb-0"><strong>@Model.UserInfo.DailyFatGoal gr.</strong></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Current calories</p>
                                <p class="mb-0"><strong>Daily calories goal</strong></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">@Model.CurrentCalories.ToString("F2") kcal</p>
                                <p class="mb-0"><strong>@Model.UserInfo.DailyCaloriesGoal kcal</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>