@model ShortUserViewModel

<div class="card mb-4 mr-4 ml-5 col-md-3 hover-shadow li-bg-color">
    <a asp-action="Profile" asp-controller="Users" asp-route-username="@Model.Username">
        <div class="card-body text-center">
            <h5 class="my-3">@Model.Username</h5>
            <img src="@Model.ProfilePicture" onerror="src='/images/profileimages/default-avatar.jpg'" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <p class="my-3">@Model.Email</p>
            <div class="row">
                <div class="col-md-6">
                    <i class="fa-solid fa-users"></i>
                    <p>Followers:</p>
                    <p>@Model.FollowersCount</p>
                </div>
                <div class="col-md-6">
                    <i class="fa-solid fa-users"></i>
                    <p>Following:</p>
                    <p>@Model.FollowingCount</p>
                </div>
            </div>
        </div>
    </a>
</div>