@model IEnumerable<ShortUserViewModel>

@{
    this.ViewData["Title"] = "All Users";
}

<div class="row">
    <form class="form-inline col-md-6 offset-md-5 mb-3" asp-action="All" asp-controller="Users">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter username..." aria-label="Search" name="username">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

@if(Model.Any() == false)
{
    <h4 class="text-center">
        User '@this.ViewData["Username"]' does not exist!
    </h4>
}

<div class="row">
    @foreach (var user in Model)
    {
        <div class="card mb-4 mr-4 col-md-2 shadow-lg li-bg-color">
            <a asp-action="UserProfile" asp-controller="Users" asp-route-username="@user.Username">
                <div class="card-body text-center">
                    <h5 class="my-3">@user.Username</h5>
                    <img src="@user.ProfilePicture" onerror="src='/images/profileimages/default-avatar.jpg'" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h6 class="my-3">@user.Email</h6>
                    <p>Registered on: @user.CreatedOn.ToShortDateString()</p>
                </div>
            </a>
        </div>
    }
</div>