@model ExerciseDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div>
    <h4 class="text-center">Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            Category name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Equipment name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
