@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "Exercises";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-outline-secondary">Create New</a>
</p>

<table class="table table-hover table-striped hover-shadow">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Difficulty
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Category
            </th>
            <th>
                Equipment
            </th>
            <th>
                Added by
            </th>
            <th>
                CreatedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exercises)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedByUserUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />
