@model IEnumerable<ArticleViewModel>
@inject IHtmlSanitizer sanitizer

<div class="container-fluid">
    <div class="row">
        <div class="row mb-2">
            @foreach (var article in Model)
            {
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250 hover-shadow border">
                        <div class="card-body d-flex flex-column align-items-start">
                            <a asp-contoller="Articles" asp-action="Category" asp-route-categoryName="@article.CategoryName" title="Aigars"><strong class="d-inline-block mb-2 text-info">@article.CategoryName</strong></a>
                            <h3 class="mb-0">
                                <span class="text-dark" asp-action="Details" asp-controller="Articles" asp-route-id="@article.Id">@article.Title</span>
                            </h3>
                            <div class="mb-1 text-muted">@article.CreatedOn.ToString("MMM-d")</div>
                            <p class="card-text mb-auto">@this.Html.Raw(sanitizer.Sanitize(article.Content))</p>
                            <a asp-action="Details" asp-controller="Articles" asp-route-id="@article.Id">Continue reading</a>
                            <strong class="d-inline-block mb-2 text-green">Rating: @article.AvarageRating.ToString("F1")</strong>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="@article.ImageUrl" onerror="src='https://res.cloudinary.com/beshev/image/upload/v1648570348/fitnessbuddy/articles/articledefault_qkhaee.png'" data-holder-rendered="true">
                    </div>
                </div>
            }
        </div>
    </div>
</div>