@model PagingViewModel

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(Model.HasPreviousPage == false) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@Model.FirstPageNumber" asp-route-search="@Model.Search">
                &laquo;&laquo;
            </a>
        </li>
        <li class="page-item @if(Model.HasPreviousPage == false) {<text>disabled</text>}">
            <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@Model.PreviousPageNumber" asp-route-search="@Model.Search">
                &laquo;
            </a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@i" asp-route-search="@Model.Search">
                        @i
                    </a>
                </li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@i" asp-route-search="@Model.Search">
                        @i
                    </a>
                </li>
            }
        }
        <li class="page-item @if(Model.HasNextPage == false) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@Model.NextPageNumber" asp-route-search="@Model.Search">
                &raquo;
            </a>
        </li>
        <li class="page-item @if(Model.HasNextPage == false) {<text>disabled</text>}">
            <a class="page-link" asp-controller="Articles" asp-action="All" asp-route-id="@Model.LastPageNumber" asp-route-search="@Model.Search">
                &raquo;&raquo;
            </a>
        </li>
    </ul>
</nav>