@using FitnessBuddy.Web.ViewModels.Home
@model HomeViewModel

@using FitnessBuddy.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div id="muscle-map">
        <img id="background" src="~/images/muscle/00.-Blank-Figures.png">
        <img id="traps-a" src="~/images/muscle/08.-TrapsLeft.png">
        <img id="traps-b" src="~/images/muscle/08.-TrapsRight.png">
        <img id="shoulders-a" src="~/images/muscle/07.A-Deltoids.png">
        <img id="shoulders-b" src="~/images/muscle/07.B-Deltoids.png">
        <img id="chest" src="~/images/muscle/06.-Chest.png">
        <img id="biceps-a" src="~/images/muscle/05.A-Biceps.png">
        <img id="biceps-b" src="~/images/muscle/05.B-Biceps.png">
        <img id="forearm-a" src="~/images/muscle/14.A-Forearms.png">
        <img id="forearm-b" src="~/images/muscle/14.B-Forearms.png">
        <img id="abs" src="~/images/muscle/04.-Obliques.png">
        <img id="quads-a" src="~/images/muscle/01.A-Quads.png">
        <img id="quads-b" src="~/images/muscle/01.B-Quads.png">
        <img id="calves-a" src="~/images/muscle/13.A-Calves.png">
        <img id="calves-b" src="~/images/muscle/13.B-Calves.png">
        <img id="back-traps-a" src="~/images/muscle/08.B-Traps.png">
        <img id="back-traps-b" src="~/images/muscle/08.C-Traps.png">
        <img id="back-shoulders-a" src="~/images/muscle/07.C-Deltoids.png">
        <img id="back-shoulders-b" src="~/images/muscle/07.D-Deltoids.png">
        <img id="triceps-a" src="~/images/muscle/09.A-Triceps.png">
        <img id="triceps-b" src="~/images/muscle/09.B-Triceps.png">
        <img id="back-lats-a" src="~/images/muscle/10.A-Lats.png">
        <img id="back-lats-b" src="~/images/muscle/10.B-Lats.png">
        <img id="back-lower" src="~/images/muscle/15.-Lower-Back.png">
        <img id="back-forearms-a" src="~/images/muscle/14.C-Forearms.png">
        <img id="back-forearms-b" src="~/images/muscle/14.D-Forearms.png">
        <img id="back-glutes" src="~/images/muscle/11.-Glutes.png">
        <img id="back-hamstrings-a" src="~/images/muscle/12.A-Hamstrings.png">
        <img id="back-hamstrings-b" src="~/images/muscle/12.B-Hamstrings.png">
        <img id="back-calves-a" src="~/images/muscle/13.C-Calves.png">
        <img id="back-calves-b" src="~/images/muscle/13.D-Calves.png">
    </div>


    @section Scripts{
<script src="~/js/muscleDiagram.js"></script>
    }

    @section CustomCss{
<link rel="stylesheet" href="~/css/muscle-map.css" asp-append-version="true" />
    }
}
else
{
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">Wellcome to Fitness Buddy</h1>
            <p class="mt-5">
                Losing weight isn't easy - we know. But with <strong>Fitness Buddy</strong>, you'll get the tools you need to successfully take weight off - and keep it off. And best of all, you can signup for free, no strings attached. So put away your credit card - you'll never have to pay a cent.
            </p>
            <p>
                At <strong>Fitness Buddy</strong>, we focus on making sure you can log your meals as quickly and easily as possible. Because the easier we make it for you, the more likely you are to stay on track, and the more likely you are to succeed in your weight loss goals.
            </p>
            <h2>
                Get in shape now!
            </h2>
            <h5>
                To get access to the full functionality of the app you need to be logged.
            </h5>
            <div>
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
                    Login
                </a>
            </div>
            <h5 class="mt-2">
                You don't have an account?
                <a asp-area="Identity" asp-page="/Account/Register">
                    Register
                </a>
            </h5>
        </div>
        <div class="col-md-4">
            <img src="~/images/home/nutritions-removebg-preview.png" class="card-img-top img-mix-blend">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-5">
            <h2>
                Fitness starts with what you eat.
            </h2>
            <h5>
                Take control of your goals. Track calories, make your food dailry, and log activities with Fitness Buddy.
            </h5>
            <div class="row">
                @foreach (var food in Model.Foods)
                {
                    <div class="card card-bg-color col-md-5 mr-5 hover-shadow">
                        <div class="card-header text-center">
                            <strong>@food.FoodName</strong>
                            <img src="@(string.IsNullOrWhiteSpace(@food.ImageUrl) ? "/images/foods/default-food.jpg" : food.ImageUrl)" class="img-thumbnail db center mb3 br-100" width="250" height="130" style="height:120px!important;">
                            <strong>Nutrients per 100 grams</strong>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Food calories: </strong>@food.FoodCalories kcal</li>
                            <li class="list-group-item"><strong>Protein: </strong>@food.ProteinIn100Grams gr. </li>
                            <li class="list-group-item"><strong>Carbohydrates: </strong>@food.CarbohydratesIn100Grams gr.</li>
                            <li class="list-group-item"><strong>Fat: </strong>@food.FatIn100Grams gr.</li>
                            <li class="list-group-item"><strong>Sodium: </strong>@food.Sodium mg.</li>
                            <li class="list-group-item text-center">
                                <a class="btn btn-outline-primary btn-sm" asp-action="AddFood" asp-controller="MealsFoods" asp-route-foodId="@food.Id">
                                    Add to meal
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <h2>
                Exercises are as important as food.
            </h2>
            <h5>
                Create workouts and add exercises that fit your body structure.
            </h5>
            <div class="row">
                @foreach (var exercise in Model.Exercises)
                {
                    <div class="card col-md-5 mr-5 mt-3 hover-shadow bg-info">
                        <a asp-action="Details" asp-controller="Exercises" asp-route-id="@exercise.Id">
                            <h3 class="card-header text-white">@exercise.Name</h3>
                            <img src="@exercise.ImageUrl" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item li-bg-color">Difficulty: <strong>@exercise.Difficulty</strong></li>
                                <li class="list-group-item li-bg-color">Category: <strong>@exercise.CategoryName</strong></li>
                                <li class="list-group-item li-bg-color">Equipment: <strong>@exercise.EquipmentName</strong></li>
                            </ul>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
